@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #3b8a2e; /* Ubah dengan warna yang Anda inginkan */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* src/app/globals.css */

@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");

.font-preahvihear {
  font-family: "Preahvihear", sans-serif;
}
